__pycache__/
*.pyc
.env
.cache
.idea/
.vscode/
.DS_Store
*.tfvars

# mkdocs
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform.lock.hcl

# Logs
*.log